* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  transition: background-color 0.5s ease-in-out;
}

#navbar {
  overflow: hidden;
  background-color: #3a015c;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: #b376d6;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #83569c;
  color: black;
}

#navbar-right {
  float: right;
}

.greeting {
  text-align: center;
  border: 2px solid #3a015c;
  border-radius: 20px;
  padding: 20px;
  background-color: #b376d6;
  color: white;
  animation: fadeIn 2s ease-in-out;
}

.content {
  margin-top: 200px;
  padding: 15px;
  text-align: center;
}

.image-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.image-card {
  width: 45%;
  background-color: #f7ecf5;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.image-description {
  color: #3a015c;
  font-size: 16px;
  margin-top: 10px;
}

.content2 {
  margin: 30px;
  padding: 20px;
  background-color: #b376d6;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(239, 229, 245, 0.8);
  color: rgb(66, 18, 94);
  text-align: center;
}

@media screen and (max-width: 580px) {
  #navbar {
      padding: 20px 10px;
  }

  #navbar a {
      float: none;
      display: block;
      text-align: left;
  }

  #navbar-right {
      float: none;
  }

  .image-section {
      flex-direction: column;
  }

  .image-card {
      width: 90%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
